/*GENERAL*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    font-family: sans-serif;
    
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

.body{
    background-color: #333333;
}

/*HEADER*/
.main-header{
    background-color: #222222;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 20px 20px;
}
.nav-links{
    list-style: none;
    background-color: #222222;
    text-align: center;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
    background-color: #222222;
}
.nav-links li a{
    text-decoration: none;
    font-family: sans-serif;
    transition: all 0.3s ease 0s;
    background-color: #222222;
}
.nav-links li a:hover{
    color: #c91c65;
}

.secondary-header{
    background: #c91c65;
    text-align: center;
    padding: 2em;
}


/*HOME*/
/*Main Body*/
.home-body {
    background-image: url("assets/background.jpeg"); alt: "This is an aesthetc image which also provides a color theme for the site, the reader should find the color patters similar thoughout the site.";
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 25%;
    right: 25%;
}
.home-main p{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55%;
    left: 10%;
    right: 10%;
}


/*BIO*/

#bio-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    box-shadow: #c91c65 3px 3px 10px;
}

.bio-head{
    color: #c91c65;
}

h4{
    padding: 10px 0px;
}

#bio-p1{
    margin-bottom: 50px;
}

.bio-left{
    float: left;
    width: 50%;
    padding: 10px;
}

.bio-right{
    float: right;
    width: 50%;
    padding: 10px;
}

/*EXPERIENCE*/

table{
    border-collapse: collapse;
    width: 80%;
}
td, th{
    border: 1px solid whitesmoke;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #c91c65;
}

#exp-p{
    text-align: center;
    margin-top: 10%;
    margin-left: 5%;
    width: 90%;
}

.exp-table{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    right: 10%
}

/*PORTFOLIO*/

/*FOOTER*/
footer{
    background-color: #222222;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 20px;
}

/*MEDIA*/

@media only screen and (max-width: 500px) {
    .nav-links{
        display: flex;
        flex-direction: column;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0%;
    right: 0%;
}
.home-main p{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55%;
}

#bio-body{
    height: 770px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
}

.bio-left{
    float: none;
    width: 100%;
    padding: 5px;
}

.bio-right{
    float: none;
    width: 100%;
    padding: 5px;
}
#bio-p1{
    margin-bottom: 10px;
}
}